@model List<MiInventario.Models.GrupoViewModel>
@{
    ViewBag.Title = "All Items";
}

<h2>All Items: @Model.SelectMany(p => p.Tipos.SelectMany(q => q.Items)).DefaultIfEmpty().Sum(r => r.Cantidad) (@Model.SelectMany(p => p.Tipos.SelectMany(q => q.Items)).DefaultIfEmpty().Sum(r => r.CantidadCapsulas))</h2>
@foreach (MiInventario.Models.GrupoViewModel grupo in Model)
{
    foreach (MiInventario.Models.TipoViewModel tipo in grupo.Tipos)
    {
        @Html.Partial("_ShowItems", tipo.Items)
    }
}
<div class="clearfix"></div>
<div>
    <p class="bottomLinks">
        @Html.ActionLink("Back to Inventory", "Index")
    </p>
</div>
