body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.level {
    display: inline-block;
    width: 25px;
    text-align: center;
    margin-right: 5px;
    font-weight: bold;
}

.rarity1, .rarityR1 {
    color: #b5b2b5;
}

.rarity2, .rarityR2 {
    color: #84f7b5;
}

.rarity3, .rarityR3 {
    color: #ad8eff;
}

.rarity4, .rarityR4 {
    color: #ff8ef7;
}

.level1 {
    color: #ffcf5a;
}

.level2 {
    color: #ffa72f;
}

.level3 {
    color: #ff7413;
}

.level4 {
    color: #e10000;
}

.level5 {
    color: #fd2891;
}

.level6 {
    color: #ed27ce;
}

.level7 {
    color: #c323e3;
}

.level8 {
    color: #9927f8;
}

td.itemQuantity {
    text-align: right;
}

td.totalQuantity {
    text-align: right;
}

td.capsuleQuantity {
    text-align: right;
}

td.name {
    white-space: nowrap;
}

td.capsuleCode {
    text-align: center;
    color: white;
}

    td.capsuleCode a {
        color: white;
    }

td.noSpawn {
    background-color: #ad8eff;
}
td.spawnable {
    background-color: #532c42;
}
td.KL_GREEN {
    background-color: #1f5217;
}
td.KL_BLUE {
    background-color: #2a295c;
}
td.KL_GRAY {
    background-color: #4e4c4d;
}
td.KL_RED {
    background-color: #651414;
}
td.KL_YELLW {
    background-color: #5f5233;
}



td {
    vertical-align: middle !important;
}

th {
    color: #9b9b9b;
}

tfoot .totalsName {
    background-color: #9a408a;
    color: #e4d1d1;
    text-align: center;
}

#chartTitle {
    color: white;
}

th.rotate {
    /* Something you can count on */
    height: 140px;
    /*white-space: nowrap;*/
}

    th.rotate > div {
        transform:
        /* Magic Numbers */
        translate(23px, -10px)
        /* 45 is really 360 - 45 */
        rotate(270deg);
        width: 20px;
    }

        th.rotate > div > span {
            /*border-bottom: 1px solid #ccc;
  padding: 5px 50px;*/
        }

#dialog {
    background-color: #111111;
    border: 1px solid teal;
    cursor: default;
    display: none;
    text-align: center;
    width: 250px;
    z-index: 50;
    padding: 25px 25px 20px;
}
#headerDetail{
    margin-bottom: 0;
}
#detailRarity{
    font-size: 0.9em;
}

#detailTypeDescription{
    font-size: 0.9em;
}

#detailImage {
    height: 200px;
}

.highest{
  color: orange;
} 