<?xml version="1.0"?>

<!-- For more information on using Web.config transformation visit http://go.microsoft.com/fwlink/?LinkId=301874 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <connectionStrings>
    <add name="DefaultConnection" connectionString="Data Source=(local)\Desarrollo;Initial Catalog=Inventory;User ID=sa;Password=superi6644;" providerName="System.Data.SqlClient" />
    <add name="InventarioEntities" connectionString="metadata=res://*/Modelo.csdl|res://*/Modelo.ssdl|res://*/Modelo.msl;provider=System.Data.SqlClient;provider connection string='Server=(local)\Desarrollo;Database=Inventory;User ID=sa;Password=superi6644;'" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <system.web>
    <compilation debug="true" targetFramework="4.5" />
    <!--<globalization requestEncoding="utf-8" responseEncoding="utf-8" fileEncoding="utf-8" culture="es-AR" uiCulture="es" />-->
  </system.web>
</configuration>
