@model MiInventario.Models.Interests.DateTotalViewModel
@{
  ViewBag.Title = "Interests of last " + Model.Periods + " " + Model.Grouping;
}
<h2>Interests Total <img id="imgLoading" src='@Url.Content("~/images/loading.gif")' style="vertical-align:baseline;height: 20px;display:none" /></h2>
<div class="form-horizontal">
  <div class="form-group">
    <span class="col-lg-1 control-label">Last</span>
    <div class="col-lg-1">
      <input type="number" min="1" step="1" class="form-control input-sm text-right" id="periods" value="@Model.Periods" />
    </div>
    <div class="col-lg-10">
      @Html.DropDownList("Grouping", Enum.GetValues(typeof(MiInventario.Code.DateGrouping)).Cast<MiInventario.Code.DateGrouping>().Select(x => new SelectListItem { Text = x.ToString(), Value = x.ToString(), Selected = (x == Model.Grouping) }), new { @id = "grouping", @class = "form-control input-sm", style = "float: left" })
    </div>
  </div>
</div>
<hr />
<div class="table-responsive" id="tableContainer">
</div>
<p>
  @Html.ActionLink("Back to Capsules", "Index")
</p>
@section scripts{
  <script type="text/javascript">

    function updateTable() {
      var grp = $("#grouping").val();
      var per = $('#periods').val();

      $.ajax({
        url: '/Interests/_DateTotal',
        method: 'GET',
        cache: false,
        dataType: "html",
        data: { grouping: grp, periods: per },
        success: function (data) {
          $("#tableContainer").html(data);
        }
      });
    }

    $(document).ready(function () {
      $(document).ajaxStart(function () {
        $("#imgLoading").show();
      });

      $(document).ajaxStop(function () {
        $("#imgLoading").hide();
      });

      $("#grouping").change(function () {
        updateTable();
        historyManager.setState();
      });

      $('#periods').focus(function () {
        var inp = $(this);
        inp.data('current', inp.val());
      });

      $('#periods').change(function () {
        var inp = $(this);
        var newVal = Number(inp.val());
        if (newVal > 0 && Math.floor(newVal) == newVal) {
          updateTable();
          historyManager.setState();
        }
        else {
          inp.val(inp.data('current'));
        }
      });

      updateTable();

      historyManager.init({
        data: function () {
          return { grouping: $("#grouping").val(), periods: $('#periods').val() };
        },
        title: function (data) {
          return 'Interests of last ' + data.periods.toString() + ' ' + data.grouping;
        },
        url: function (data) {
          return '/Interests/DateTotal?grouping=' + data.grouping + '&periods=' + data.periods.toString();
        },
        change: function (data) {
          $("#grouping").val(data.grouping);
          $("#periods").val(data.periods);

          updateTable();
        }
      });
    });
  </script>
}