@model MiInventario.Code.DateGrouping
@{
  ViewBag.Title = "Interests by Date";
}

<h2><span id="reportTitle">@ViewBag.Title</span> <img id="imgLoading" src='@Url.Content("~/images/loading.gif")' style="vertical-align:baseline;height: 20px;display:none" /></h2>
<div class="form-horizontal">
  <div class="form-group">
    <span class="col-lg-2 control-label">Grouping</span>
    <div class="col-lg-10">
      @Html.DropDownList("Grouping", Enum.GetValues(typeof(MiInventario.Code.DateGrouping)).Cast<MiInventario.Code.DateGrouping>().Select(x => new SelectListItem { Text = x.ToString(), Value = x.ToString(), Selected = (x == Model) }), new { @class = "form-control input-sm" })
    </div>
  </div>
</div>
<hr />
<div class="table-responsive" id="tableContainer">
</div>
<p>
  @Html.ActionLink("Back to Capsules", "Index")
</p>

@section scripts{
  <script type="text/javascript">

    function updateTable() {
      var grp = $("select").first().val();

      $.ajax({
        url: '/Interests/_DateTotal',
        method: 'GET',
        cache: false,
        dataType: "html",
        data: {grouping: grp},
        success: function (data) {
          $("#tableContainer").html(data);
          $("#reportTitle").text("Interest by " + grp);
        }
      });
    }

    $(document).ready(function () {
      $(document).ajaxStart(function () {
        $("#imgLoading").show();
      });

      $(document).ajaxStop(function () {
        $("#imgLoading").hide();
      });

      $("select")
        .change(function () {
          updateTable();
        });

      updateTable();
    });



  </script>
}