@model List<MiInventario.Models.ItemInventoryViewModel>
@{
    ViewBag.Title = "Total Interests";
}

<h2>Total Interests</h2>
@foreach (string group in Model.Select(p => p.CurrentItem.GroupId).Distinct())
{
    <div class="group">
        @foreach (string type in Model.Where(p => p.CurrentItem.GroupId == group).Select(q => q.CurrentItem.TypeId).Distinct())
        {
            @Html.Partial("_ShowItemsCapsule", Model.Where(p => p.CurrentItem.TypeId == type))
        }
    </div>
}
<div class="clearfix"></div>
<p class="bottomLinks">
    @Html.ActionLink("Back to Capsules", "Index")
</p>
