@model IEnumerable<MyInventory.Models.Capsules.ItemCapsuleViewModel>
<div class="col-lg-2 col-md-3 col-sm-4 col-xs-12">
  <table class="table table-condensed table-striped">
    <colgroup>
      <col class="col-lg-8 col-md-8 col-sm-8 col-xs-8" />
      <col class="col-lg-4 col-md-4 col-sm-4 col-xs-4" />
    </colgroup>
    <thead>
      <tr>
        <th>Item</th>
        <th>Qty</th>
      </tr>
    </thead>
    <tbody>
      @foreach (var item in Model) {
        <tr>
          <td class="name">
            @Html.Partial("_ItemDescription", item.CurrentItem)
          </td>
          <td class="itemQuantity">
            @item.Quantity
          </td>
        </tr>
      }
    </tbody>
  </table>
</div>
