@model MiInventario.Models.ChartTitleViewModel

@if (Model.Accumulative)
{
    <span>Accumulative</span>
}
Interest of
@if (Model.Item.CurrentItem == null)
{
    <text>@Resources.Groups.G_ALL Items</text>
}
else
{
    @Html.Partial("_ItemDescription", Model.Item)
}
by
@Model.Grouping.ToString()