@model MiInventario.Code.DateGrouping
@{
    ViewBag.Title = "Interests by Date";
}

<h2 id="reportTitle">@ViewBag.Title</h2>
<div class="form-horizontal">
    <div class="form-group">
        <span class="col-lg-2 control-label">Grouping</span>
        <div class="col-lg-10">
            @Html.DropDownList("Grouping", Enum.GetValues(typeof(MiInventario.Code.DateGrouping)).Cast<MiInventario.Code.DateGrouping>().Select(x => new SelectListItem { Text = x.ToString(), Value = x.ToString(), Selected = (x == Model) }), new { @class = "form-control input-sm" })
        </div>
    </div>
</div>
<hr />
<div class="table-responsive" id="tableContainer">
</div>
<p>
    @Html.ActionLink("Back to Capsules", "Index")
</p>

@section scripts{
    <script type="text/javascript">

        function updateTable() {
            var grp = $("select").first().val();
            var urlTabla = '@(Url.Action("_InterestsDateTotal", "Capsulas", null, Request.Url.Scheme))?grouping=' + grp;
            urlTabla.replace(/\:[0-9]+/, '');

            $.ajax({
                url: urlTabla,
                dataType: "html",
                success: function (data) {
                    $("#tableContainer").html(data);
                    $("#reportTitle").text("Interest by " + grp);
                }
            });
        }

        $(document).ready(function () {
            $("select")
              .change(function () {
                  updateTable();
              });

            updateTable();
        });

    </script>
}