@model List<MiInventario2.Models.CapsulaFechaTotalViewModel>
@{
  ViewBag.Title = "Interests Total";
  bool primera = true;
}

<h2>Interests Total</h2>
@foreach (var capsula in Model.OrderByDescending(p => p.Elementos.Count())) {
  <div class="capsula">
    <div class="nombreCapsula">@capsula.IdCapsula</div>
    @{
  primera = true;
    }
    <div class="elementos">
      @foreach (var elemento in capsula.Elementos) {
        if (!primera) {
          <br />
        }
        else {
          primera = false;
        }
        <span>@elemento</span>
      }
    </div>
  </div>
}
<div class="pie">
  <p class="bottomLinks">
    @Html.ActionLink("Back to Capsules", "Index")
  </p>
</div>