<?xml version="1.0"?>

<!-- For more information on using Web.config transformation visit http://go.microsoft.com/fwlink/?LinkId=301874 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <connectionStrings>
    <add name="DefaultConnection" connectionString="Data Source=895e2000-cf56-4e7d-83af-a56e01024b68.sqlserver.sequelizer.com	;Initial Catalog=db895e2000cf564e7d83afa56e01024b68;User ID=vtdvwaewkbwmeggk;Password=zYTRvtov6BdEkno3itWUhiFsjBJ4WjJZXWTNNC2FGU2y7LRmY7tXABrqszF2RsFU;" providerName="System.Data.SqlClient" />
    <add name="InventoryEntities" connectionString="metadata=res://*/Modelo.csdl|res://*/Modelo.ssdl|res://*/Modelo.msl;provider=System.Data.SqlClient;provider connection string='Server=895e2000-cf56-4e7d-83af-a56e01024b68.sqlserver.sequelizer.com;Database=db895e2000cf564e7d83afa56e01024b68;User ID=vtdvwaewkbwmeggk;Password=zYTRvtov6BdEkno3itWUhiFsjBJ4WjJZXWTNNC2FGU2y7LRmY7tXABrqszF2RsFU;'" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <system.web>
    <compilation debug="true" targetFramework="4.5" />
    <!--<globalization requestEncoding="utf-8" responseEncoding="utf-8" fileEncoding="utf-8" culture="es-AR" uiCulture="es" />-->
  </system.web>
</configuration>
