@{
  ViewBag.Title = "About My Inventory";
}
<h2>@ViewBag.Title</h2>
<h4>How this came to be</h4>
<div class="row">
  <div class="col-lg-11 col-lg-offset-1 col-md-11 col-md-offset-1 col-sm-11 col-sm-offset-1">
    <p class="text-info">
      This site was innitially developed for personal use.<br />
      After days and days of tracking spawns of MUFG on a Goggle Drive Sheet with my wife, an agent too, I felt that we could benefit of having something better.
    </p>
    <p class="text-info">
      Being a software developer myself, the obvious choice was starting a tailor-made tool to solve our needs.<br />
      As it was growing, we expanded it to include inventory management. It started as a help to ease the burden of balancing our items. <br />
      Usually, after farming, we balance our items. Marital property...
    </p>
    <p class="text-info">
      We made it for us, but we decided to share it with some fellow agents, and it was at their suggestion that we made it public.<br />
      We can't thank enough to all of them for the time spent in using it and giving us feedback.
    </p>
    <p class="text-info">
      Feel free to report issues, make suggestion, question our choices, or ask for features.
    </p>
    <p>
      Regards,<br />
      @@reptilicus, ENL, L16, Ciudad Autónoma de Buenos Aires, Argentina.
    </p>
  </div>
</div>
