@{
  ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>

<p>Please, be patient.</p>
<address>
  <strong>Support:</strong> <a href="mailto:myinventory-support@gmail.com">myinventory-support@gmail.com</a>
</address>