@model MiInventario.Models.ItemViewModel
@if (Model.CurrentItem.Level > 0) {
  <span class="@string.Format("level{0}", Model.CurrentItem.Level)">@string.Format("L{0}", Model.CurrentItem.Level)</span>
}
<span class="@string.Format("rarity{0}", Model.CurrentItem.Rarity)">@Model.CurrentItem.Name</span>
