@model IEnumerable<MiInventario.Models.ItemInventoryViewModel>

<div class="col-lg-2 col-md-3 col-sm-4 col-xs-12">
    <table class="table table-condensed table-striped">
        <colgroup>
            <col class="col-lg-8 col-md-8 col-sm-8 col-xs-8" />
            <col class="col-lg-4 col-md-4 col-sm-4 col-xs-4" />
        </colgroup>
        <thead>
            <tr>
                <th>Item</th>
                <th>Qty</th>
            </tr>
        </thead>
        <tbody>
            @foreach (MiInventario.Models.ItemInventoryViewModel item in Model)
            {
                <tr>
                    <td class="nombre">
                        @Html.Partial("_ItemDescription", item)
                    </td>
                    <td class="cantidadItem">
                        @item.Quantity
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
