@model List<MyInventory.Models.Interests.FechaTotalViewModel>
@{
  ViewBag.Title = "Interests Total";
}
<h2>Interests Total</h2>
@foreach (var capsule in Model.OrderByDescending(p => p.Items.Count())) {
  <div class="col-lg-2">
    <table class="table table-condensed table-striped">
      <thead>
        <tr><th>@capsule.Code</th></tr>
      </thead>
      @foreach (var element in capsule.Items) {
        <tr>
          <td>
            <span>@element.Quantity</span> @Html.Partial("_ItemDescription", element.CurrentItem)
          </td>
        </tr>
      }
    </table>
  </div>
}
<div class="clearfix"></div>
<p class="bottomLinks">
  @Html.ActionLink("Capsules", "Index")
</p>
